<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356948790296-gpk58fdc0me4c4gr1akimk5vd50ernr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356948790296-gpk58fdc0me4c4gr1akimk5vd50ernr3</string>
	<key>API_KEY</key>
	<string>AIzaSyBjmuUZPxEkgPpaFtmMNheNMKouxRoE-uo</string>
	<key>GCM_SENDER_ID</key>
	<string>356948790296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sample.ads.flutter</string>
	<key>PROJECT_ID</key>
	<string>pedometer-walking-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>pedometer-walking-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356948790296:ios:e67051264c1d0dfc29076d</string>
</dict>
</plist>